<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Parola Değişikliği'">
      <form [formGroup]="form" (ngSubmit)="kaydet()" autocomplete="off">
        <perfect-scrollbar class="overflow-container" style="width: 100%;height: 300px;padding:15px;">
          <div class="form-group">
            <div class="row nopadding">
              <div class="col">
                <div class="input-group">
                  <span class="input-group-addon" id="MevcutParola">Eski Şifre</span>
                  <input type="password" class="form-control" id="MevcutParola" maxlength="20"
                    formControlName="MevcutParola" maxlength="200"
                    [ngClass]="{ 'is-invalid': (control || f.MevcutParola.submitted ) && f.MevcutParola.errors }"
                    placeholder="Mevcut Parola" />
                  <div style="margin-left:15px;" *ngIf="(control || f.MevcutParola.invalid ) && f.MevcutParola.errors"
                    class="invalid-feedback" style="text-align:left">
                    <div *ngIf="f.MevcutParola.errors.required">Zorunlu Alan</div>
                  </div>
                </div>
              </div>
            </div>
            <span class="md-line"></span>
          </div>
          <div class="form-group">
            <div class="row nopadding">
              <div class="col">
                <div class="input-group">
                  <span class="input-group-addon" id="YeniParola">Yeni Parola</span>
                  <input type="password" class="form-control" id="YeniParola" maxlength="20" formControlName="YeniParola"
                    maxlength="200"
                    [ngClass]="{ 'is-invalid': (control || f.YeniParola.submitted ) && f.YeniParola.errors }"
                    placeholder="Yeni Parola" />
                  <div style="margin-left:15px;" *ngIf="(control || f.YeniParola.invalid ) && f.YeniParola.errors"
                    class="invalid-feedback" style="text-align:left">
                    <div *ngIf="f.YeniParola.errors.required">Zorunlu Alan</div>
                  </div>
                </div>
              </div>
            </div>
            <span class="md-line"></span>
          </div>
          <div class="form-group">
            <div class="row nopadding">
              <div class="col">
                <div class="input-group">
                  <span class="input-group-addon" id="YeniParolaTekrar">Yeni Parola Tekrar</span>
                  <input type="password" class="form-control" maxlength="20" id="YeniParolaTekrar"
                    formControlName="YeniParolaTekrar" maxlength="200"
                    [ngClass]="{ 'is-invalid': (control || f.YeniParolaTekrar.submitted ) && f.YeniParolaTekrar.errors }"
                    placeholder="Yeni Parola Tekrar" />
                  <div style="margin-left:15px;"
                    *ngIf="(control || f.YeniParolaTekrar.invalid ) && f.YeniParolaTekrar.errors"
                    class="invalid-feedback" style="text-align:left">
                    <div *ngIf="f.YeniParolaTekrar.errors.required">Zorunlu Alan</div>
                  </div>
                </div>
              </div>
            </div>
            <span class="md-line"></span>
          </div>
          <button type="submit" class="btn btn-danger md-close sagaYasla" [disabled]="dataservis.loading">Kaydet
            <span *ngIf="dataservis.loading" class="spinner-border spinner-border-sm mr-1"></span>
          </button>
        </perfect-scrollbar>
      </form>
    </app-card>
  </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>