<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <!-- counter-card-1 start-->
      <div class="col-md-12 col-xl-3">
        <div class="card counter-card-3">
          <div class="card-body-big">
            <div class="row">
              <div class="col-6 counter-card-icon">
                <i class="icofont icofont-play-alt-1"></i>
              </div>
              <div class="col-6  text-right">
                <div class="counter-card-text">
                  <h3>{{durum1}}</h3>
                  <p>BAŞVURU SAYISI</p><br><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- counter-card-1 end-->
      <!-- counter-card-2 start -->
      <div class="col-md-6 col-xl-3">
        <div class="card counter-card-1">
          <div class="card-body-big">
            <div class="row">
              <div class="col-6 counter-card-icon">
                <i class="icofont icofont-pause"></i>
              </div>
              <div class="col-6 text-right">
                <div class="counter-card-text">
                  <h3>{{durum2}}</h3>
                  <p>ONAY BEKLEYEN BAŞVURU SAYISI</p><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- counter-card-2 end -->
      <!-- counter-card-3 start -->
      <div class="col-md-6 col-xl-3">
        <div class="card counter-card-2">
          <div class="card-body-big">
            <div class="row">
              <div class="col-6 counter-card-icon">
                <i class="icofont icofont-undo"></i>
              </div>
              <div class="col-6 text-right">
                <div class="counter-card-text">
                  <h3>{{durum3}}</h3>
                  <p>YARDIM ONAYI BEKLEYEN BAŞVURU SAYISI</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- counter-card-3 end -->
      <!-- counter-card-4 start-->
      <div class="col-md-12 col-xl-3">
        <div class="card counter-card-4">
          <div class="card-body-big">
            <div class="row">
              <div class="col-6 counter-card-icon">
                <i class="icofont icofont-sand-clock"></i>
              </div>
              <div class="col-6  text-right">
                <div class="counter-card-text">
                  <h3>{{durum4}}</h3>
                  <p>GERÇEKLEŞEN YARDIM SAYISI</p><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- counter-card-4 end-->
    </div>
  </div>