<div class="row">
  <div class="col-sm-12 col-md-12 col-xl-12">
    <h3 class="ng-tns-c8-4">Mahalle Tanımları </h3>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xl-12">
        <form [formGroup]="form" (ngSubmit)="kaydet()" autocomplete="off">
          <perfect-scrollbar class="overflow-container" style="width: 100%;height: 200px;padding:15px;">
            <div class="form-group">
              <div class="row nopadding">
                <div class="col">
                  <div class="input-group">
                    <span class="input-group-addon" id="IlID">İl Adı</span>
                    <app-iller class="form-control" style="padding:0;border:none;" formControlName="IlID" id="IlID"
                      [(control)]="control"></app-iller>
                  </div>
                </div>
              </div>
              <span class="md-line"></span>
            </div>
            <div class="form-group">
              <div class="row nopadding">
                <div class="col">
                  <div class="input-group">
                    <span class="input-group-addon" id="IlceID">İlçe Adı</span>
                    <app-ilceler class="form-control" style="padding:0;border:none;" formControlName="IlceID"
                      id="IlceID" [(control)]="control" [data]="form.value.IlID"></app-ilceler>

                  </div>
                </div>
              </div>
              <span class="md-line"></span>
            </div>
            <div class="form-group">
              <div class="row nopadding">
                <div class="col">
                  <div class="input-group">
                    <span class="input-group-addon" id="MahalleAdi">Mahalle</span>
                    <input type="text" class="form-control" id="MahalleAdi" formControlName="MahalleAdi" maxlength="250"
                      [ngClass]="{ 'is-invalid': (control || f.MahalleAdi.submitted ) && f.MahalleAdi.errors }"
                      placeholder="Mahalle Adı" />
                    <div style="margin-left:15px;" *ngIf="(control || f.MahalleAdi.invalid ) && f.MahalleAdi.errors"
                      class="invalid-feedback" style="text-align:left">
                      <div *ngIf="f.MahalleAdi.errors.required">Zorunlu Alan</div>
                    </div>
                  </div>
                </div>
              </div>
              <span class="md-line"></span>
            </div>
            <div class="form-group">
              <div class="row nopadding">
                <div class="col">
                  <div class="input-group">
                    <span class="input-group-addon" id="MuhtarID">Muhtar</span>
                    <app-muhtarlar class="form-control" style="padding:0;border:none;" formControlName="MuhtarID" id="MuhtarID"
                      [(control)]="control"></app-muhtarlar>
                  </div>
                </div>
              </div>
              <span class="md-line"></span>
            </div>
          </perfect-scrollbar>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-xl-12" style="margin-bottom:10px;padding: 0px 30px 0 30px;">
              <button type="submit" class="btn btn-danger md-close sagaYasla" [disabled]="dataservis.loading">Kaydet
                <span *ngIf="dataservis.loading" class="spinner-border spinner-border-sm mr-1"></span>
              </button>
              <button type="button" (click)="closeMyModal()" style="margin-right:10px;"
                class="btn btn-default md-close sagaYasla">Vazgeç</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <button (click)="closeMyModal()" aria-label="Close" class="md-close-btn"><i
        class="icofont icofont-ui-close"></i></button>
  </div>
</div>